html, body {
    height: 100%;
    overflow: hidden;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image:url("assets/background.svg");
    background-repeat: repeat;
    background-size: auto;
}
#statusbar
{
	list-style-type: none;
	overflow: hidden;
  	margin: 0;
  	padding: 0;
  	position: absolute;
}

canvas{
	display: block;
	z-index:0;
	background: #17202A;
}
ul{
	display:table;
	table-layout:fixed;
}
ul li{
	display: table-cell;
}
li b{
	width:169px;
	font-family: 'Roboto Mono';
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	float: left;
}

button{
	z-index:1;
	position:relative;

}

#PauseOverlay{
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.65);
	z-index:2;
	cursor: pointer;
}

#overlayText{
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 64px;
	font-family: 'Montserrat';
	color: "#000000";
	text-align: center;
	transform: translate(-50%,-50%);
	color: white;
}

#PauseTextL2{
	font-size: 32px;
}

#pauseButton{
	z-index: 1;
	position: relative;
	color: white;
}
#fuelText{
	z-index: 1;
	color: white;
}
#distanceText{
	z-index: 1;
	color: white;
}
#fpsText{
	z-index: 1;
	color: white;
}
#DeathOverlay{
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.65);
	z-index:2;
	cursor: pointer;
}
#DeathText{
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 64px;
	font-family: 'Montserrat';
	text-align: center;
	transform: translate(-50%,-50%);
	color: white;
}
#DeathTextL{
	font-size: 32px;
}
#DeathTextL2{
	font-size: 32px;
}
#IntroOverlay{
	position:absolute;
	top:0;
	right:0;
	z-index:5;
    width:100%;
	background-color:rgba(0,0,0,0.65);
	display:block;
    overflow-y: scroll;
    overflow-x: hidden;
    height:auto;
    min-height:100%;

}
#IntroInner{
	width:80%;
	display:block;
    margin:auto;
    position: absolute;
    left: 0;
    right: 0;
	background:#ECF0F1;
    font-family: "Roboto";
}
#LehrerQuote{
	padding-top: 25px;
	font-size:2vw;
	font-family: "Crimson Pro";
	font-style: italic;
	text-align: center;
	width: 35%;
	margin: auto;
	color: #BDC3C7;
}

#IntroInner h1{
	text-align:center;
	font-family:"Montserrat";
	font-size: 64px;
    margin:50px;
    margin-top: 25px;
	color:#17202A;
	border-bottom: 3px solid #3498DB;
	padding:15px;
}

#IntroInner h2{
	text-align:center;
	font-family:"Montserrat";
	font-size: 32px;
	margin-left:50px;
	margin-right: 50px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding:16px;
	width:25%;
	color:#17202A;
	border-bottom: 2px solid #F39C12;
}

#IntroAbs{
	padding: 25px;
}

.IntroControls{
	margin-bottom:10px;
	position:relative;
	display:inline-block;

}
#IntroControlText{
	box-sizing: border-box;
	font-size: 16px;
	width:35%;
	font-weight:100;
	margin-left:50px;
	margin-right:25px;
	vertical-align: middle;
	display:inline-block;
	letter-spacing: 1px;
}
#ControlCanvas{
	box-sizing:border-box;
	border: 3px solid #3498DB;
	background-color:white;
	display:inline-block;
	vertical-align:middle;
	margin-right: 50px;
	width:50%;
	overflow: hidden;
}

#controlFuelText{
	z-index: 1;
	color: black;
}
#IntroMechanicsText{
	box-sizing: border-box;
	font-size: 16px;
	width:35%;
	font-weight:100;
	margin-left:50px;
	margin-right:25px;
	vertical-align: middle;
	display:inline-block;
	letter-spacing: 1px;
}
#MechanicsCanvas{
	box-sizing:border-box;
	border: 3px solid #3498DB;
	background-color:white;
	display:inline-block;
	vertical-align:middle;
	margin-right: 50px;
	width:50%;
	overflow: hidden;
}

#StartGame{
    margin: 25px auto;
    text-align:center;
    font-family: "Montserrat";
    font-size: 24px;
    width:200px;
    display:block;
    border: 2px solid #3498DB;
}
#StartGame:hover{
    color: #3498DB;
    border-color: #F39C12;
}